:root {
  --bg: #ecedff;
  --dark: #222531;
  --gray: #616E85;
  --gray-2:#EFF2F5;
  --gray-3:#D0D6E4;
  --blue:#4C57FB;
  --purple:#6D70CD;
  --t:all .4s linear;
  --white: #ffffff;
  --black: #000000;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  min-width: 0;
  min-height: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, button, blockquote {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: unset;
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
}
body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 20px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark);
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-transition: var(--t);
  transition: var(--t);
  opacity: 0;
  pointer-events: none;
}
#overlay.show {
  opacity: 0.5;
  pointer-events: all;
}

@font-face {
  font-family: "Inter";
  src: url(../font/Inter-Regular.eot) format("eot"), url(../font/Inter-Regular.otf) format("otf"), url(../font/Inter-Regular.ttf) format("ttf"), url(../font/Inter-Regular.woff) format("woff"), url(../font/Inter-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../font/Inter-Medium.eot) format("eot"), url(../font/Inter-Medium.otf) format("otf"), url(../font/Inter-Medium.ttf) format("ttf"), url(../font/Inter-Medium.woff) format("woff"), url(../font/Inter-Medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../font/Inter-Bold.eot) format("eot"), url(../font/Inter-Bold.otf) format("otf"), url(../font/Inter-Bold.ttf) format("ttf"), url(../font/Inter-Bold.woff) format("woff"), url(../font/Inter-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
.dashboard {
  overflow: hidden;
}
.dashboard .dashboard__inner {
  padding: 64px 0;
}
.dashboard .dashboard__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
.dashboard .dashboard__header-content {
  width: 100%;
  max-width: 415px;
}
.dashboard .dashboard__header-content-title {
  margin-bottom: 8px;
}
.dashboard .dashboard__header-content-title h1 {
  font-weight: 700;
  line-height: 1;
  font-size: 32px;
  color: var(--dark);
}
.dashboard .dashboard__header-content-text {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--gray);
}
.dashboard .dashboard__header-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 72px;
  background: #FFF;
  padding: 8px;
}
.dashboard .dashboard__header-panel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  background-color: var(--white);
  border-radius: 40px;
  -webkit-transition: var(--t);
  transition: var(--t);
}
.dashboard .dashboard__header-panel-button.button--current {
  background-color: var(--blue);
}
.dashboard .dashboard__header-panel-button.button--current .button-icon {
  stroke: var(--white);
}
.dashboard .dashboard__header-panel-button.button--current .button-text {
  color: var(--white);
}
.dashboard .dashboard__header-panel-button:hover:not(.button--current) .button-text {
  color: var(--blue);
}
.dashboard .dashboard__header-panel-button .button-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  color: var(--dark);
  -webkit-transition: var(--t);
  transition: var(--t);
}
.dashboard .dashboard__header-panel-button .button-icon {
  -webkit-transition: var(--t);
  transition: var(--t);
  width: 16px;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 8px;
  stroke: var(--blue);
}
.dashboard .dashboard__list {
  margin-top: 32px;
}
.dashboard .dashboard__list .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  -webkit-transition: var(--t);
  transition: var(--t);
  opacity: 0;
}
.dashboard .dashboard__list .list.hide {
  opacity: 0;
}
.dashboard .dashboard__list .list.show {
  opacity: 1;
}
.dashboard .dashboard__list .list.list {
  display: none;
}
.dashboard .dashboard__list .item {
  background-color: var(--white);
  border-radius: 16px;
  height: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dashboard .dashboard__list .item:nth-child(6n+5), .dashboard .dashboard__list .item:nth-child(6n+6) {
  height: 292px;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.dashboard .dashboard__list .item .item-top {
  padding: 24px 24px 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dashboard .dashboard__list .item .item-top__title h3 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 20px;
  color: var(--dark);
}
@media screen and (min-width: 991px) {
  .dashboard .dashboard__list .item .item-top__tooltip {
    position: relative;
    z-index: 2;
    margin-bottom: 6px;
  }
  .dashboard .dashboard__list .item .item-top__tooltip:hover .item-top__tooltip-content {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 1;
    pointer-events: all;
  }
  .dashboard .dashboard__list .item .item-top__tooltip:hover .item-top__tooltip-icon svg {
    stroke: var(--blue);
  }
  .dashboard .dashboard__list .item .item-top__tooltip-content {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
    bottom: calc(100% + 15px);
    width: 230px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 24px 16px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-weight: 400;
    line-height: 1.14;
    font-size: 14px;
    color: var(--gray);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: var(--t);
    transition: var(--t);
  }
  .dashboard .dashboard__list .item .item-top__tooltip-content::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 0 solid transparent;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top: 10px solid #fff;
  }
  .dashboard .dashboard__list .item .item-top__tooltip-content::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.dashboard .dashboard__list .item .item-top__tooltip-icon {
  cursor: pointer;
}
.dashboard .dashboard__list .item .item-top__tooltip-icon svg {
  -webkit-transition: var(--t);
  transition: var(--t);
  width: 16px;
  height: 16px;
  stroke: var(--gray);
}
.dashboard .dashboard__list .item .item-list {
  width: 100%;
  max-width: 288px;
  height: 127px;
  overflow: auto;
  margin: auto auto 10px;
  padding-left: 16px;
  padding-right: 12px;
  padding-bottom: 10px;
}
.dashboard .dashboard__list .item .item-list::-webkit-scrollbar {
  width: 4px;
}
.dashboard .dashboard__list .item .item-list::-webkit-scrollbar-thumb {
  background-color: var(--gray-3);
  border-radius: 4px;
}
.dashboard .dashboard__list .item .item-list ul {
  height: 100%;
  counter-reset: letters;
}
.dashboard .dashboard__list .item .item-list ul li {
  position: relative;
  z-index: 2;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.14;
  font-size: 14px;
  color: var(--gray);
  padding: 16px 0 16px 25px;
  border-top: 1px solid var(--gray-2);
}
.dashboard .dashboard__list .item .item-list ul li:last-child {
  border-bottom: 1px solid var(--gray-2);
}
.dashboard .dashboard__list .item .item-list ul li::before {
  counter-increment: letters;
  content: counter(letters, upper-alpha) ".";
  position: absolute;
  top: 16px;
  left: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}
.dashboard .dashboard__list .item .item-image {
  border-radius: 0 0 16px 16px;
  overflow: hidden;
}
.dashboard .dashboard__list .item .item-image.image--wave {
  width: 100%;
  height: 100%;
}
.dashboard .dashboard__list .item .item-image.image--wave img {
  -o-object-fit: cover;
     object-fit: cover;
}
.dashboard .dashboard__list .item .item-image.image--speed {
  width: 130px;
  height: 100px;
  margin: 0px auto 20px;
}
.dashboard .dashboard__list .item .item-image.image--smile {
  width: 150px;
  height: 110px;
  margin: 0 auto 20px;
}
.dashboard .dashboard__list .item .item-image.image--chart-scores {
  margin-top: 8px;
  width: 100%;
  height: 164px;
}
.dashboard .dashboard__list .item .item-image.image--chart-scores img {
  -o-object-fit: contain;
     object-fit: contain;
}
.dashboard .dashboard__list .item .item-image.image--chart-kps {
  margin-top: 8px;
  width: 100%;
  height: 196px;
}
.dashboard .dashboard__list .item .item-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1660px) {
  .dashboard .dashboard__list .item .item-top__tooltip:hover .item-top__tooltip-content {
    -webkit-transform: translate(0%, 0px);
            transform: translate(0%, 0px);
  }
  .dashboard .dashboard__list .item .item-top__tooltip-content {
    left: auto;
    right: -15px;
    -webkit-transform: translate(0%, -5px);
            transform: translate(0%, -5px);
  }
  .dashboard .dashboard__list .item .item-top__tooltip-content::before {
    left: auto;
    right: 15px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@media screen and (max-width: 1352px) {
  .dashboard .dashboard__list .list {
    -ms-grid-columns: 1fr 32px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .dashboard .dashboard__list .item {
    height: 27.145vw;
  }
  .dashboard .dashboard__list .item:nth-child(6n+5), .dashboard .dashboard__list .item:nth-child(6n+6) {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .dashboard .dashboard__list .item .item-list {
    max-width: 98%;
    height: 280px;
  }
  .dashboard .dashboard__list .item .item-image.image--speed, .dashboard .dashboard__list .item .item-image.image--smile {
    width: 200px;
    height: 170px;
  }
  .dashboard .dashboard__list .item .item-image.image--chart-scores {
    height: auto;
  }
  .dashboard .dashboard__list .item .item-image.image--chart-kps {
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .dashboard .dashboard__inner {
    padding: 13.8889vw 0;
  }
  .dashboard .dashboard__header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6.9444vw;
  }
  .dashboard .dashboard__header-content {
    max-width: 100%;
  }
  .dashboard .dashboard__header-content-title {
    margin-bottom: 2.2222vw;
  }
  .dashboard .dashboard__header-content-title h1 {
    font-weight: 700;
    line-height: 1;
    font-size: 8.8889vw;
    color: var(--dark);
  }
  .dashboard .dashboard__header-content-text {
    font-weight: 400;
    line-height: 1.5;
    font-size: 4.4444vw;
    color: var(--gray);
  }
  .dashboard .dashboard__header-panel {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 5.5556vw;
    padding: 2.2222vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dashboard .dashboard__header-panel-button {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3.3333vw 6.6667vw;
    border-radius: 11.1111vw;
  }
  .dashboard .dashboard__header-panel-button .button-text {
    font-size: 3.8889vw;
  }
  .dashboard .dashboard__header-panel-button .button-icon {
    width: 4.4444vw;
    height: 4.4444vw;
    margin-right: 2.2222vw;
  }
  .dashboard .dashboard__list {
    margin-top: 6.9444vw;
  }
  .dashboard .dashboard__list .list {
    grid-gap: 6.9444vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .dashboard .dashboard__list .item {
    border-radius: 4.4444vw;
    height: 62.5vw;
  }
  .dashboard .dashboard__list .item:nth-child(6n+5), .dashboard .dashboard__list .item:nth-child(6n+6) {
    height: 55.5556vw;
  }
  .dashboard .dashboard__list .item .item-top {
    padding: 6.6667vw 6.6667vw 4.4444vw 6.6667vw;
  }
  .dashboard .dashboard__list .item .item-top__title h3 {
    font-size: 5.5556vw;
  }
  .dashboard .dashboard__list .item .item-top__tooltip {
    margin-bottom: 1.6667vw;
  }
  .dashboard .dashboard__list .item .item-top__tooltip.open .item-top__tooltip-content {
    opacity: 1;
    pointer-events: all;
  }
  .dashboard .dashboard__list .item .item-top__tooltip:hover .item-top__tooltip-content {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .dashboard .dashboard__list .item .item-top__tooltip-icon {
    cursor: pointer;
  }
  .dashboard .dashboard__list .item .item-top__tooltip-icon svg {
    -webkit-transition: var(--t);
    transition: var(--t);
    width: 4.4444vw;
    height: 4.4444vw;
    stroke: var(--gray);
  }
  .dashboard .dashboard__list .item .item-top__tooltip-content {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 88.8889vw;
    min-height: 62.5vw;
    background-color: var(--white);
    border-radius: 4.4444vw;
    padding: 6.6667vw 4.4444vw;
    -webkit-box-shadow: 0 0 5.5556vw rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5.5556vw rgba(0, 0, 0, 0.3);
    font-weight: 400;
    line-height: 1.14;
    font-size: 3.8889vw;
    color: var(--gray);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: var(--t);
    transition: var(--t);
  }
  .dashboard .dashboard__list .item .item-list {
    max-width: 87.7778vw;
    height: 35.2778vw;
    margin: auto auto 2.7778vw;
    padding-left: 4.4444vw;
    padding-right: 3.3333vw;
    padding-bottom: 2.7778vw;
  }
  .dashboard .dashboard__list .item .item-list::-webkit-scrollbar {
    width: 1.1111vw;
  }
  .dashboard .dashboard__list .item .item-list::-webkit-scrollbar-thumb {
    border-radius: 1.1111vw;
  }
  .dashboard .dashboard__list .item .item-list ul li {
    font-size: 3.8889vw;
    padding: 4.4444vw 0 4.4444vw 6.9444vw;
  }
  .dashboard .dashboard__list .item .item-list ul li::before {
    top: 4.4444vw;
  }
  .dashboard .dashboard__list .item .item-image.image--speed, .dashboard .dashboard__list .item .item-image.image--smile {
    width: 55.5556vw;
    height: 47.2222vw;
    margin: 0px auto 5.5556vw;
  }
}
@-webkit-keyframes startLine {
  100% {
    stroke-dashoffset: 70;
  }
}
@keyframes startLine {
  100% {
    stroke-dashoffset: 70;
  }
}