$mainFont: 'Inter', sans-serif;


:root {
    --bg: #ecedff;
    --dark: #222531;
    --gray: #616E85;
    --gray-2:#EFF2F5;
    --gray-3:#D0D6E4;

    --blue:#4C57FB;
    --purple:#6D70CD;

    --t:all .4s linear;

    --white: #ffffff;
    --black: #000000;
}